<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/yonqstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/style/helpers.css">
    <title>YONQ</title>
</head>
<body>
  <div>
      <a href="{{ url_for('home') }}">YONQ</a>
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">login</a>
      {% else %}
        <a href="{{url_for('logout') }}">logout</a>
      {% endif %}
      <a href="https://yonq.itch.io/">itch</a>
      <a href="login">login</a></div>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>