<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/yonqstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/style/helpers.css">
    <title>YONQ</title>
</head>
<body>
    <div id="page-container">
        <div id="lefthamlet">
            <nav id="navbar">
                <a href="{{ url_for('home') }}">HOME</a><br>
                <a href="https://yonq.itch.io/">DOWNLOADS</a><br>
                <a href="{{ url_for('authors')}}">AUTHORS</a><br>
                <a href="{{ url_for('about') }}">ABOUT</a><br>
            </nav>
        </div>
        <div id="pagecontent">
            {% block content %}{% endblock %}
        </div>
        <div id="righthamlet">
            <p class="red" id="title">YONQ</p>
        </div>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>